.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-center {
  text-align: left;
  border: 3px solid green;
}

.App-link {
    color: #61dafb;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    text-align: center;
}

.custom-btn-toolbar {
    display: inline !important;
}

.custom-btn-toolbar > .btn {
    margin-right: 1rem;
}

body {
    background-image: url("https://images.unsplash.com/photo-1598992547170-5025041b4645?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h2.headertekst {
  text-align: center;
}
